{% extends 'base.html.twig' %}

{% block body %}
    {#<p>activiteit naam: </p>{{ activiteit.naam }} <br>#}
    {#<p>activiteit: beschrijving</p>{{ activiteit.beschrijving }} <br>#}
    {#    <p>activiteit: duur</p> {{ activiteit.duur }} <br>#}
    {#    <p>activiteit: prijs</p>{{ activiteit.prijs }} <br>#}
    <div class="wrapper">
        {% block nav %} {% include 'bezoeker/navbarBezoeker.html.twig' %} {% endblock %}

        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">naam</th>
                <th scope="col">beschrijving</th>
                <th scope="col">duur</th>
                <th scope="col">prijs</th>
            </tr>
            </thead>
            <tbody>
            {% for a in activiteit %}
            <tr>



                <th scope="row">{{ a.id }} </th>
                <td>{{ a.naam}}</td>
                <td> {{ a.beschrijving}}</td>
                <td>{{a.duur}}</td>
                <td>{{a.prijs}}</td>
                <td> <a href="{{ path('delete_activiteit', {'id' : a.id}) }}"><button> delete</button></a></td>
                <td> <a href="{{ path('aanpassen_activiteit', {'id' : a.id}) }}"><button>aanpassen</button></a></td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
