{# templates/task/new.html.twig #}

{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {#<p>activiteit naam: </p>{{ activiteit.naam }} <br>#}
    {#<p>activiteit: beschrijving</p>{{ activiteit.beschrijving }} <br>#}
    {#    <p>activiteit: duur</p> {{ activiteit.duur }} <br>#}
    {#    <p>activiteit: prijs</p>{{ activiteit.prijs }} <br>#}
    <div class="wrapper">
        {% block nav %} {% include 'bezoeker/navbarBezoeker.html.twig' %} {% endblock %}

        <article>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">account aanpassen</h5>
                    <p class="card-text">
                        {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <form>

                        {{ form_row(form.email) }}

                        {{ form_row(form.voornaam) }}

                        {{ form_row(form.achternaam) }}

                        {{ form_row(form.prefix) }}

                        {{ form_row(form.geboortedatum) }}

                        {{ form_row(form.geslacht) }}

                        {{ form_row(form.gebruikersnaam) }}

                        {{ form_row(form.aangenomen) }}

                        {{ form_row(form.salaris) }}

                        {{ form_row(form.straatnaam) }}

                        {{ form_row(form.postcode) }}

                        {{ form_row(form.woonplaats) }}



                        {{ form_end(form) }}
                    </form>
                </div>

            </div>
        </article>




        <footer>
            <p>training factory &copy; 2019 copyright: Luciano</p>
        </footer>
    </div>
    </div>
    </div>


{% endblock %}
