{% extends 'base.html.twig' %}

{% block body %}
    {#<p>activiteit naam: </p>{{ activiteit.naam }} <br>#}
    {#<p>activiteit: beschrijving</p>{{ activiteit.beschrijving }} <br>#}
    {#    <p>activiteit: duur</p> {{ activiteit.duur }} <br>#}
    {#    <p>activiteit: prijs</p>{{ activiteit.prijs }} <br>#}
    <div class="wrapper">
        {% block nav %} {% include 'bezoeker/navbarBezoeker.html.twig' %} {% endblock %}

        <article>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">actuele planning</h5>

                    <div class="card-group">
                        {% for l in lessen %}   {% set showButon=0 %}
                                        <div class="card">
                                            <img src="{{ asset('img/' ~ l.activiteit.naam ~ '.jpg') }}" class="card-img-top" alt="...">
                                            <div class="card-body">
                        <h5 class="card-title">{{ l.tijd|date("d/m/Y") }}</h5>
                        <p class="card-text"> {{l.locatie}} </p>
                        <p class="card-text"> <p>max aantal personen:  {{l.maxpersonen}} </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"> <b>{{ l.tijd|date('H:i') }} </b></small>
                    {% if l in mijnLessen %}
                    {% else  %}



                            <a href="{{ path('lid_toevoegen', {'id' : l.id}) }}"><button> inschrijven</button></a>
                    {% endif %}

                       


                    </div>
                </div>
                {% endfor  %}


                </div>
            </div>
            </div>
        </article>


        </div>


        <footer>
            <p>training factory &copy; 2019 copyright: Luciano</p>
        </footer>
    </div>
    </div>
    </div>


{% endblock %}
